@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body{
    font-family: 'Lato', sans-serif;
}
#Employees-List h1{
    font-size: 42px;
    background: linear-gradient(#f1a130,#f28433);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}
#Employees-List .card-img-top {
    width: 45%;
    margin: auto;
    padding: 15px 0px 0px 0px;
}
#Employees-List .card{
    margin: 2px;
    border: 0px solid #f1a130;
    box-shadow: 0px 0px 15px #f1a130!important;
}
#Employees-List h6{
    color: #123c69!important;
    font-weight: 700;
}
#Employees-List .img-box{
    width: 124px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
}
#Employees-List .img-box img{
    width: 100%;
    height: 100%;
}