#form-profile h1 {
    font-size: 42px;
    background: linear-gradient(#f1a130,#f28433);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}
#form-profile .form-control {
    padding-bottom: 0px;
}
#form-profile .form-group {
    display: flex;
}
#form-profile form{
    padding: 5px 20px 5px 20px;
    width: 80%;
    margin: auto;
}
#form-profile input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0px;
    margin: 6px 6px 0px 10px;
}
#form-profile .button{
    background: linear-gradient(#f1a130,#f28433);
    margin-bottom: 20px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid #f1a130;
    box-shadow: 8px 8px 5px #c5c6c7;
}
#form-profile .button:hover{
    background: linear-gradient(#7395AE,#123c69);
    color: white;
    border: 1px solid #7395AE;

}
.form-group {
    margin-bottom: 10px;
}