.color{
    color:#10bfb8;
}
.coloR{
    background-color:#10bfb8;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:  #10bfb8;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
.border-bottom-1{
    border-bottom: 1px solid #10bfb8;
}
.alert-heading{
    background-color: #10bfb8 !important;
   color: #fff;
    font-size: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.icon{
    background:#10bfb8;
padding: 8px;
border-radius: 50%;
color:#fff!important;
}
.icoN{
    color: #10bfb8;
    text-align: center;
    margin-left: 363px;
    font-size: 30px!important;
}
.iCON{
    color: #10bfb8;
    text-align: center;
    font-size: 17px!important;
}
.uL{
    background-color: whitesmoke;
}
.paragraph{
   margin-left: 507px!important;
    font-size: 15px;
}
.paragrapH{
    font-family: Lato;
    font-size: 15px;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.containeR input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 4px;
    left: 30px;
    height: 22px;
    width: 22px;
   border: 1px solid;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #10bfb8;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.icON{
    color: #10bfb8;
    font-size: 30px!important;
}
.icoNo{
    color: #10bfb8;
    text-align: center;
    margin-left: 241px;
    font-size: 30px!important;
}
.navbaR{
    background-color:#10bfb8 ;
    color: #fff;
    border-radius: 30px;
}
.bordeR{
      border: 1px solid #10bfb8;
    border-left: 0px;
  }
.icoN1{
    color: #10bfb8;
    text-align: center;
    margin-left: 20px;
    font-size: 30px!important;
}
.font{
    font-size: 20px!important;
}
.mL{
    margin-left: 217px;
}
div {
    position: relative;
    overflow: hidden;
}
input {
    position: relative;
    font-size: 50px;
    opacity: 1;
    right: 0;
    top: 0;
}
.inpuT {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    width: ;
}
.buttoN{
    background-color:#10bfb8;
    padding: 8px;
    color:#fff!important;
    width: 20%;
}
#myTab .nav-link.active {
    border-color: #10bfb8;
    color: #fff;
    background:#10bfb8;
    padding: 7px;
}
#myTab .nav-link:hover:not(.disabled) {
    border-color: #10bfb8 !important;
    color: #fff !important;
    background: #10bfb8 !important;

}

/*
P.S: if you like my content maybe you will become a donator and donate some money? That helps me to create new awesome materials. https://www.paypal.me/melnik909
*/

.timeline{
    --uiTimelineMainColor: var(--timelineMainColor, #222);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.timeline:before{
    content: "";
    width: 4px;
    height: 100%;
    background-color: var(--uiTimelineMainColor);
    position: relative;
    top: 0;
}

.timeline__group{
    position: relative;
}

.timeline__group:not(:first-of-type){
    margin-top: 4rem;
}

.timeline__year{
    padding: .5rem 1.5rem;
    color: var(--uiTimelineSecondaryColor);
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    left: 0;
    top: 0;
}

.timeline__box{
    position: relative;
}

.timeline__box:not(:last-of-type){
    margin-bottom: 30px;
}

.timeline__box:before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--uiTimelineMainColor);

    position: absolute;
    left: 0;
    z-index: -1;
}

.timeline__date{
    min-width: 65px;
    position: absolute;
    left: 0;

    box-sizing: border-box;
    padding: .5rem 1.5rem;
    text-align: center;

    background-color: var(--uiTimelineMainColor);
    color: var(--uiTimelineSecondaryColor);
}

.timeline__day{
    font-size: 2rem;
    font-weight: 700;
    display: block;
}

.timeline__month{
    display: block;
    font-size: .8em;
    text-transform: uppercase;
}

.timeline__post{
    padding: 9px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px){

    .timeline:before{
        left: 30px;
    }

    .timeline__group{
        padding-top: 55px;
    }

    .timeline__box{
        padding-left: 80px;
    }

    .timeline__box:before{
        top: 50%;
        transform: translateY(-50%);
    }

    .timeline__date{
        top: 50%;
        margin-top: -27px;
    }
}

@media screen and (max-width: 640px){

    .timeline:before{
        left: 0;
    }

    .timeline__group{
        padding-top: 40px;
    }

    .timeline__box{
        padding-left: 20px;
        padding-top: 70px;
    }

    .timeline__box:before{
        top: 90px;
    }

    .timeline__date{
        top: 0;
    }
}

.timeline{
    --timelineMainColor: #10bfb8;
    font-size: 16px;
}

@media screen and (min-width: 768px){

    html{
        font-size: 62.5%;
    }
}

@media screen and (max-width: 767px){

    html{
        font-size: 55%;
    }
}

/*
* demo page
*/

body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    color: #222;

    background-color: #f0f0f0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

p{
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

p:last-child{
    margin-bottom: 0;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.page__demo{
    flex-grow: 1;
}

.main-container{
    max-width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-left: auto;
    margin-right: auto;
}

.page__container{
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 800px;
}

.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.4rem;
}

.footer__link{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 361px){

    .footer__container{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 360px){

    .melnik909{
        display: none;
    }
}
.CandidateS{
    margin-left: 245px;
}
.paddinG{
    padding: 5px;
    padding-bottom: 30px;
    padding-top: 14px;
}