@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    font-family: 'Raleway', sans-serif!important;

}
.active{
    border-bottom: #f7f7f7 solid 3px;
    color: #000;
    padding: 0px 5px;
}
.header{
    /*border-bottom: 3px solid #fb9e1e!important;*/
}
footer{
    border-top: 3px solid #fb9e1e!important;
}
.bg-light-yellow{
     background-color: #123c69!important;
    color: #fff;
}

.btn:hover{
    animation: ani-popup .3s forwards;
}
.green-btn{
    color: #fff;
    /*background-color: #95999d;*/
    background-color: #116664;
    border-color: #116664;
}
.page-main {
    background-color: #f8f9fa!important;
}
.header-brand:hover{
    opacity: 1!important;
}
a.icon:hover {
    color: #fff !important;
}
.card-header{
    border-bottom: 1px solid ;
}
.hire-details .nav-link{
    color: #bab2b5;
    font-weight: 600;
    text-transform: capitalize;
    transition: .3s!important;
    padding: .25rem .75rem;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #bab2b5;
    border-radius: 30px;
}
.hire-details .nav-link:hover,
.hire-details .nav-link.active-hire{
    color: #fff;
    border-bottom: 1px solid transparent;
    border-top: 1px solid #fff;
    animation: ani-popup .3s forwards;
}
@keyframes ani-popup {
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
.dashboard-items{
    /*background-color: #afb0b3;*/
    /*background-color: #DCDCDC;*/
    background-color: #ac3b61;
}
.dashboard-items .nav-tabs .nav-link{
    /*color: #525865;*/
    /*color: #525865c4;*/
    color: #fff;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 2px;
    text-align: center;
}
.dashboard-items .nav-tabs .nav-link:hover:not(.disabled) {
    border-color: #123c69!important;
    color: #123c69!important;
    animation: ani-popup .3s forwards;
}

.card-header{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    /*color: #fff;*/
    color: #333;
    /*border-bottom-color: #808080!important;*/

    /*background-color: #49505794!important;*/
    /*background-color: #edc7b7!important;*/
    background-color: #eee2dc!important;
}
.card-header .btn,
.card-header .btn:hover,
.card-header .btn:active:focus
.card-header .btn:focus{
    color: #123c69;
    background-color: transparent!important;
    border-color: #123c69!important;
    border-width: 2px!important;
    letter-spacing: 1px;
    box-shadow: none!important;
}
.card-header .btn:not(:disabled):not(.disabled):active{
    color: #123c69!important;
}
.card-body{
    background-color: #fff!important;
}

.form-control{
    background-color: transparent!important;
    border: 0!important;
    border-bottom: 1px solid #123c69!important;
    outline: 0!important;
    box-shadow: none!important;
    border-radius: 0!important;
    border-width: 2px!important;
}
.form-control:focus{
    border-bottom-color: #ac3b61!important;
}
input:-internal-autofill-selected{
    background-color: transparent!important;
}
label{
    margin-bottom: 0 !important;
    /*color: #666;*/
    color: #123c69;
    font-weight: 600;
}

.input-group{
    border-bottom: 2px solid #fb9e1e;
    color: #fb9e1e;
}
.input-group .form-control{
    border-bottom: 0!important;
}
.input-group .form-control::placeholder{
    color: #fb9e1e;
}
.input-group .btn-secondary {
    color: #fb9e1e;
    background-color: transparent!important;
    box-shadow: none!important;
    border: 0;
}

table tr th{
    font-family: 'Oswald', sans-serif;
    /*color: #666!important;*/
    color: #ac3b61!important;
    font-weight: 600!important;
    letter-spacing: .5px;
    font-size: 16px!important;
}
table tr td{
}
.before-gap{
    margin: 70px 0!important;
}
.trends_background{
    margin-top: 20px;
}

/*== for mobile view==*/
.m-hire-details ul{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #DCDCDC;
}
.m-hire-details ul li{
    width: 25%;
    text-align: center;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}
.m-hire-details ul li:hover,
.m-hire-details ul li.active-hire-details{
    border-bottom: 2px solid #333;
    animation: ani-popup .3s forwards;
}
.m-hire-details ul li a{
    color: #525865c4;
    font-weight: 600;
    text-decoration: none;
    display: block;
}
.m-hire-details ul li a:hover,
.m-hire-details ul li a.active-hire-details{
    color: #333;
    animation: ani-popup .3s forwards;
}


/*HRM-TimeLog*/
.table.hours-table .twh-tr{
    background-color: #6cb2eb;
}
.table.hours-table .tbh-tr{
    background-color: #3490dc;
}
.table.hours-table .tlh-tr{
    background-color: #2779bd;
 }
.table.hours-table .awh-tr{
    background-color: #123c69;
}




.m-show{
    display: none;
}


/*============
    768px
============*/
@media (max-width: 768px) {
    .dashboard-items .nav-tabs .nav-link{
        font-size: 13px;
    }

}
/*============
    767px 
============*/
@media (max-width: 767px) {

    .m-show{
        display: block;
    }
    .m-hide {
        display: none;
    }
    .m-hire-details{
        background-color: #DCDCDC;
    }
    .m-hire-details ul{
        width: 400px;
        margin: auto;
    }
    .table th, .text-wrap table th, .table td, .text-wrap table td{
        text-align: center;
    }
    .nav-tabs .nav-item {
        margin-bottom: 0;
        position: relative;
        display: block;
        width: 100%;
    }
    .before-gap{
        margin: 70px 0!important;
    }
    .trends_background{
        margin-top: 15px;
    }
    .table-responsive .btn-sm{
        margin-bottom: 5px;
    }
    footer .mt-3{
        margin-top: 0!important;
    }
}

/*============
    420px
============*/
@media (max-width: 420px) {
    .m-hire-details ul {
        width: 100%;
    }
}
/*============
    235px
============*/
@media (max-width: 235px) {
    .m-hire-details ul{
        display: block;
    }
    .m-hire-details ul li{
        width: 100%;
        display: block;
        text-align: left;
        padding: 3px 15px;
    }
}


