html,
body {
    height: 100%;
}

body {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;*/
    background-color: #f5f5f5;
}
.form-signin {
    /*width: 100%;*/
    /*max-width: 330px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #fff;*/
}
/*
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
*/




.signin-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 360px;
    padding: 30px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #fff;
}
.signin-box .form-title{
    background: linear-gradient(#f1a130,#f28433);
    -webkit-background-clip: text!important;
    color: transparent;
}
.form-description{
    color: #777;
    border-bottom: 1px solid #cccccc80;
    padding-bottom: 1rem;
}
.signin-box form {
}
.signin-box .field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: .5rem;
}
/*.signin-box .field:nth-child(2){*/
    /*margin-bottom: 1.5rem;*/
/*}*/
.signin-box label,
.signin-box input {
    transition: all 0.3s;
    touch-action: manipulation;
    text-align: left;
}
.signin-box input {
    font-size: 1em;
    border: 0;
    border-bottom: 2px solid #f1a130;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    background-color: transparent;
}
.signin-box input.check-remember{
    -webkit-appearance: checkbox!important;
}

.signin-box input:focus {
    outline: 0;
    border-bottom: 2px solid #f28433;
}

.signin-box label {
    margin-bottom: 0 !important;
    color: #f1a030;
    font-weight: 600;
}
.signin-box input:placeholder-shown + label {
    cursor: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1.3rem);
    text-align: left;
    font-weight: 600;
    color: #777;
}
::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
}

.signin-box input:focus + label {
    transform: translate(0, 0);
    cursor: pointer;
    margin-bottom: 0!important;
    font-weight: 600;
    color: #f1a130;
}


.btn-signin,
.btn-signin:focus{
    background: linear-gradient(#f1a130,#f28433);
    outline: 0;
    box-shadow: none!important;
    color: #fff;
    font-weight: 600;
}
.btn-signin:hover{
    background: linear-gradient(#f28433,#f1a130);
}
.forgot-pass,
.forgot-pass:hover{
    color: #222;
    line-height: 3rem;
    text-decoration: none;
}


/*==========
    420px
==========*/

@media (max-width: 420px) {
    .signin-box{
        width: 95%;
    }
}




