html, body
{
    background: -webkit-linear-gradient(top,  #f5ca33, #f08238);
    margin: 0px;
    padding:0px;
    font-family: 'Barlow Condensed', sans-serif;
    background-size: contain;
    height: 100%;
}
*
{
    padding:0;
    margin: 0;
}
@media screen and (min-width : 300px) and (max-width : 1024px)
{
    .register-left {
        margin-top:inherit;
    }
    .bottom-text
    {
        margin-bottom:inherit;
    }
    .divider-10 {
        height: inherit;
        width: auto;
    }
    .divider-50 {
        height: inherit;
        width: auto;
    }
}