.card-container {
    display: -webkit-flex;
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
}

.card-container li {
    height: 100px;
    margin: 0px 5px;
    position: relative;
}

.card-container li div.card {
    position: relative;
    transform: translateY(-50%);
}
