

/* Google Material icons */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


html, body
{
    background: -webkit-linear-gradient(top,  #f5ca33, #f08238);
    margin: 0px;
    padding:0px;
    font-family: 'Barlow Condensed', sans-serif;
    background-position: center;
    background-size: contain;
    height: 100%;
}
*
{
    padding:0;
    margin: 0;
}

.center-button
{
text-align:center;
}
.glyphicon .glyphicon-chevron-right
{
    color:black !important;
}
.glyphicon .glyphicon-chevron-left
{
    color:black !important;
}
.center
{
    text-align:center;
}
.divider-10
{
    height: 10px;
    width: auto;
}
.divider-20
{
    height:20px;
    width:auto;
}
.divider-25
  {
      height:25px;
      width: auto;
  }
.divider-50
{
    height:50px;
    width: auto;
}
.maxl
{
    height: 37px;
}
.title-text
{
    font-size: 28px;
    margin-top: 1rem;
    font-weight: 600;
    color: #212c7b;
}
.theme-color-text
{
    color: #0062cc;
    font-size: 20px;
    font-weight: 600;
}
.register{
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
  /*  margin-top: 3%;
    padding: 3%;*/
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 19%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 6% 6%;
   /* height: 790px;*/
   /* min-height: 768px;*/
   /* margin-top: 10%;*/
}
.btnRegister{
    /*float: right;*/
  /*  margin-top: 10%;*/
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    width: 26%;
    cursor: pointer;
}
.text-color
{
    color:#212c7b;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
.font-size
{
    font-size: 18px;
}
.bottom-text
{
    margin-bottom:41px;
}
.font-weight-text1
{
    font-weight: 500;
}
.question-title
{
    font-size: 58px;
}
/* ============================ timer ================================*/
.timer{
    display: -webkit-inline-box;
   /* font-size: -webkit-xxx-large;*/
    width: 121px;
    font-size: 26px;
    padding: 12px;
}
#controls{
    display: -webkit-inline-box;
}
#controls > div{
    margin:5px;
}

.jst-timeout{
    color:red
}


/* ============================ button ================================*/
.next {

    color: black;
    padding: 8px 16px;
}
.previous {

    color: black;
    padding: 8px 16px;
}
.color-text-hover
{
    color: black;
}

.bg-color-button
 {
     background-color: #f1f1f1;
     padding: 8px 16px;
     color:#ffffff !important;
 }
.bg-color-button a:hover
{
    background-color:#212c7b;
    padding: 8px 16px;
    color:#ffffff !important;
}
.text-right
{  text-align: right;}
a
{
    text-decoration: none !important;
}
/* ============================ test ================================*/

/* Tabs*/
section {
    /*padding: 60px 0;*/
}
.text-space-radio
{
    width:40px;
}
.bg-color
{
    background-color:rgb(255,255,255,0.8);
}
.text-medium
{
    font-size: 20px;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(255,255,255,0.9);
    color: black;
}
.nav-tabs
{
    background-color:rgb(255,255,255,0.2);
}
.tab-text-large
{
    padding: 5% 12%;
}
.text-space
{
    padding: 4px 12px;
}
section .section-title {
    text-align: center;
    font-size: 58px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
  /*  background: #007b5e;*/
   /* color: #eee;*/
}
#tabs h6.section-title{
  /*  color: #eee;*/
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color:rgb(255,255,255,0.85);
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    color:#232e80 !important;
    font-size: 20px;
    font-weight:500;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color:black;
    font-size: 23px;
}